.main {
  background: #eee;
  margin: 1rem;
  border-radius: 0.5rem;
  min-height: 100vh;
  padding: 1rem;
}

.img-container {
  padding: 10px;
  margin: 0.5rem;
  background: #fff;
  border-radius: 5px;
}

.hero-img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 4px;
}

.fig-caption {
  font-weight: bolder;
  font-size: 1.5rem;
}

.reference-link {
  text-decoration: none;
}

.reference-link:visited {
  color: #74638f;
}
